* {
  margin: 0;
}

ul,
li,
ul li, {
  list-style: none;
}

body {
  margin: 0;
  background: #fff;
  box-sizing: border-box;
}

.header-container {
  background: url("../images/mobile_intro_bg.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Menu */
.mobile-menu-container {
  display: flex;
  padding: 32px 0 0 36px;
}

.hamburger-menu > img {
  max-width: 40px;
  max-height: 50px;
}

.h4-text {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #f13520;
  margin: 80px 0 30px;
  padding-left: 36px;
}

.h1-text {
  font-family: Lato, sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  line-height: 52px;
  color: #f13520;
  margin-bottom: 32px;
  padding-left: 36px;
}

.desc-wrapper {
  box-sizing: border-box;
  border: 4px solid #fff;
  padding: 20px 32px;
  margin: 18px;
  background-color: rgb(250 249 249);
}

.desc-text {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #445470;
}

.h5-text {
  font-family: Lato, sans-serif;
  color: #272a31;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  padding-left: 36px;
  margin-top: 12px;
  padding-bottom: 128px;
}

.h3-text,
.event-content-header {
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 40px;
  padding-left: 36px;
}

.programs {
  background-image: url("../images/program-bg.jpg");
  background-color: rgb(125 133 133 / 85.2%);
}

.program-header {
  color: #fff;
  padding: 36px 0;
  text-align: center !important;
  font-size: 1.3rem;
  box-sizing: border-box;
}

.program-header > h5 {
  margin-bottom: 0;
}

.program-card {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  background-color: rgb(255 255 255 / 15.2%);
  margin: 12px 16px;
}

.program-card > img {
  max-width: 2.5em;
  max-height: 2.5em;
  min-height: 2.5em;
  flex-basis: 7em;
  background-color: #fff;
  margin: 0 16px;
}

.program-title {
  margin: 0 16px;
  min-width: 20%;
  color: #f13520;
  font-size: 18px;
}

.program-card > p {
  margin: 0 16px;
}

.program-join {
  display: flex;
  background-color: #f13520;
  padding: 25px 35px;
  justify-content: center;
  align-items: center;
  margin: 52px 80px 26px;
  margin: 5 0;
  font-size: 25px;
  color: aliceblue;
}

.program-join > p {
  margin-bottom: 0;
}

.artists {
  background-color: #fff;
}

.artist-header,
.footer-header,
.past-events-header {
  padding: 36px 0 0;
  text-align: center !important;
  font-size: 1.3rem;
  box-sizing: border-box;
}

.artist-item-container,
.events-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 1.5em;
  padding: 20px 0;
}

.artist-image > img {
  max-width: 120px;
  min-width: 120px;
  height: 120px;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.artist-sizing,
.event-sizing {
  row-gap: 1em;
  justify-content: center;
  box-sizing: border-box;
}

.artist-image {
  display: flex;
  align-items: center;
  gap: 1em;
}

.events-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.genres {
  font-style: italic;
  color: #f13520;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
}

.artist-desc {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}

.artist-name {
  font-family: lato, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* Footer */
.footer-container {
  background-color: #040505b3;
}

.footer-header {
  color: #fff;
  font-family: lato, sans-serif;
  font-size: 24px;
}

.footer-icon-container {
  padding: 28px;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
  width: 100%;
  padding-inline-start: 0;
  list-style: none;
}

.about-logo-container img {
  height: 250px;
  box-sizing: border-box;
  border: 3px solid rgb(244 239 239);
  padding: 30px 60px;
  margin: 2em;
  vertical-align: middle;
}

.events-image img {
  width: 100%;
}

.footer-logo img {
  width: 200px;
  height: 150px;
}

.footer-icon-list li img {
  width: 100px;
  background-color: rgb(219 223 227);
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
}

.footer-logo p {
  font-family: lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 20px;
  color: #040505b3;
}

/* About page */
.about-desc-wrapper {
  background-color: #fff;
}

.about-desc-text {
  text-align: center !important;
}

.about-contact-text,
.about-logo-header,
.about-logo-desc,
.past-events-desc {
  font-family: lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 65px;
  color: #040505b3;
  text-align: center !important;
}

.about-contact-text-bold {
  font-size: 15px;
  font-weight: 900;
  color: #272a31;
  line-height: 18px;
  padding-bottom: 15px;
}

.about-logo-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.about-logo-header {
  font-size: 22px;
  font-weight: 800;
  line-height: 24px;
}

.event-wrapper {
  position: relative;
  margin: 40px;
}

.event-content-header {
  color: #fff;
}

.event-image-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f13520;
  opacity: 0.5;
}

.event-content-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Popup Menu */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  background: #6070ff;
  display: none;
}

.menu-close-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px 38px 32px 0;
}

.menu-list {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-list > ul {
  padding-inline-start: 28px;
  list-style: none;
}

.menu-list nav {
  padding-bottom: 40px;
}

.menu-item {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

.blur-filter {
  filter: blur(6px);
}

.show-menu {
  width: 100%;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .mobile-menu-container,
  .program-join,
  .menu-container {
    display: none;
  }

  .navbar {
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
    height: 36px;
  }

  .navbar-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 0 3em;
    list-style: none;
  }

  .navbar-list li a {
    color: #fff;
    text-decoration: none;
  }

  .facebook-icon img,
  .twitter-icon img {
    width: 22px;
    margin: 0 15px 7px;
  }

  .navbar-text {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    padding: 0 15px;
  }

  .navbar-icon img {
    width: 50px;
  }

  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 120px;
  }

  .navbar-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-link {
    text-decoration: none;
    color: #272a31;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
  }

  .event-campaign-text {
    font-family: lato, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #f13520;
    border: 2px solid #f13520;
    padding: 4px;
  }

  .h4-text {
    margin: 0 0 30px;
    padding-top: 80px;
    padding-left: 120px;
  }

  .h1-text,
  .h3-text,
  .h5-text {
    padding-left: 120px;
  }

  .desc-wrapper {
    padding: 20px 32px;
    margin: 18px 250px 18px 120px;
    background-color: rgb(250 249 249);
  }

  .program-item-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 100px;
  }

  .program-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 12px 3px;
    height: 250px;
    width: 135px;
    font-size: 12px;
    text-align: center !important;
  }

  .program-card img {
    width: 35px;
    max-height: 35px;
    padding-bottom: 20px;
  }

  .program-title {
    padding: 5px 0;
    text-align: center !important;
  }

  .artist-image {
    width: auto;
  }

  .footer-logo {
    padding: 2em 0;
    justify-content: center;
  }

  /* About page */
  .about-logo-container img {
    height: 250px;
    width: 40%;
    box-sizing: border-box;
    border: 3px solid rgb(244 239 239);
    padding: 30px 60px;
    vertical-align: middle;
    margin: auto;
  }

  .event-sizing {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .events-item-container {
    display: flex;
    justify-content: space-between;
  }

  .events-image {
    margin: 0 10px;
  }

  .footer-icon-list {
    padding: 0 150px 20px;
  }

  .artist-sizing {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;   
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;   
    padding: 0 50px;
  }
}

/* Hidden Menu */
@media screen and (max-width: 767px) {
  .navbar,
  .main-navigation {
    display: none;
  }
}
